DO425G_1001/mozi.dtd

<?xml version="1.0" encoding="UTF-8"?>

	<!ELEMENT mozi (film+)>
	<!ELEMENT film (rendezo+,szinesz,iro)>
	<!ATTLIST film id CDATA #REQUIRED mufaj CDATA #REQUIRED>
	<!ELEMENT rendezo (#PCDATA)>
	<!ATTLIST rendezo id CDATA #REQUIRED nev CDATA #REQUIRED>
	<!ELEMENT szinesz (#PCDATA)>
	<!ATTLIST szinesz id CDATA #REQUIRED nev CDATA #REQUIRED>
	<!ELEMENT iro (#PCDATA)>
	<!ATTLIST iro id CDATA #REQUIRED>

