DO425G_0924/iskola.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE iskola [
<!ELEMENT iskola (tanar+, tantargy+)>
<!ELEMENT tanar (nev,szak)>
<!ATTLIST tanar id ID #REQUIRED>
<!ELEMENT nev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ELEMENT tantargy (tnev,osztaly)>
<!ATTLIST tantargy kod ID #REQUIRED>
<!ATTLIST tantargy oktato IDREF #IMPLIED>
<!ELEMENT tnev (#PCDATA)>
<!ELEMENT osztaly (#PCDATA)>
]>


